html,body       {  height: 100%;  }
#wrap         {  height: auto !important; margin: 0 auto -60px; min-height: 100%;  }

ul {
  list-style-type: none;
}

.opacity    {
  opacity: 0.4;
  }

#page {
  min-height: 100%;
  position:relative;
}

#wrap {
      padding-bottom: 60px;   /* This value is the height of your footer */
}
