



.center_wrapper {
  width: 1100px;
  height: 500px;
  margin: 100px auto;
  /*background-color: #670000;*/
}
.img {
  margin-left: 35px;
  margin-top: 45px;
}
.note {
  position: relative;
  width: 230px;
/*  height: 320px;*/
  margin: auto 20px;
  color: #2c3e50;
  background: #97C02F;
  overflow: hidden;
  float: left;
  margin-bottom: 30px;
}
.note:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #2c3e50 #658E15 #658E15;
  background: #658E15;
  /*-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);*/

  display: block;
  width: 0;
  /* Firefox 3.0 damage limitation */

}
.note.rounded {
  -webkit-border-radius: 5px 0 5px 5px;
  -moz-border-radius: 5px 0 5px 5px;
  border-radius: 5px 0 5px 5px;
}
.note.rounded:before {
  border-width: 30px;
  border-color: #fff #fff transparent transparent;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}
.note.red {
  background: #e74c3c;
}
.note.red:before {
  border-color: #fff #fff #c0392b #c0392b;
  background: #1f1f1f;
}
.note.yellow {
  background: #f1c40f;
}
.note.yellow:before {
  border-color: #fff #fff #f39c12 #f39c12;
  background: #f39c12;
}
.note.green {
  background: #1abc9c;
}
.note.green:before {
  border-color: #fff #fff #16a085 #16a085;
  background: #16a085;
}
.note.purple {
  background: #9b59b6;
}
.note.purple:before {
  border-color: #fff #fff #8e44ad #8e44ad;
  background: #8e44ad;
}

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'fontawesome', sans-serif;
}



a, a:visited {
  color: #4099FF;
  text-decoration: none;
}



.img-profile {

  float: left;
  width: 80px;
  height: 80px;
}

.note article {
  width: 230px;
  background-color: #fff;
  opacity: 0.8;
  margin: 0;
}

.yellow article {
  border-left: 1px solid #f1c40f;
  border-right: 1px solid #f1c40f;
}

.green article {
  border-left: 1px solid #1abc9c;
  border-right: 1px solid #1abc9c;
}

.red article {
  border-left: 1px solid #e74c3c;
  border-right: 1px solid #e74c3c;
}

.purple article {
  border-left: 1px solid #9b59b6;
  border-right: 1px solid #9b59b6;
}





.card {
  background: white;
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
 }

.user-card .user-avatar {
  text-align: center; }
  .user-card .user-avatar .user-bg {
    width: 100%;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    height: 100px;
    }

.red .user-bg {
    background-color: #e74c3c;
  }
.yellow .user-bg {
    background-color: #f1c40f;
  }
.green .user-bg {
  background-color: #1abc9c;
}

.purple .user-bg {
  background-color: #9b59b6;
}

  .user-card .user-avatar .user-bg:after {
    content: "";
    width: 100%;
    height: 100%;
  }
  .user-card .user-avatar .user-pic {
    background: white;
    padding: 0.25em;
    border-radius: 0.3rem;
    margin-top: 2.5em;
    width: 80px;
    height: 80px;

  }

.divider {
  position: relative;
display: block;
padding-bottom: 18px;
border-top: 1px solid #b8bcbf

}

.user-card header, .user-card .status {
  text-align: center;
  padding: 0 1em;
  margin-top: 0;
}

.comments-status {
  text-align: center;
  padding: 0.5em 1em 0.8em;
  opacity: 0.6;
  font-size: 0.9em;
}

.user-card header h1 {
  padding-top: 1.30em;
  padding-bottom: 0.2em;
  font-size: 1.4em;
  margin: 0;
}
.red .user-card header {
  border-left: 1px solid #e74c3c;
  border-right: 1px solid #e74c3c;

}

.yellow .user-card header {

  border-left: 1px solid  #f1c40f;
  border-right: 1px solid  #f1c40f;
}

.purple .user-card header {
  border-left: 1px solid #9b59b6;
  border-right: 1px solid #9b59b6;
}


.green .user-card header {
  border-left: 1px solid #1abc9c;
  border-right: 1px solid #1abc9c;
}

.user-card header p {
  color: #717a7e;
  font-size: 1em;
  margin: 0;
  padding-bottom: 1em;
}

.user-card .status {
  color: #75787b;
  font-size: 0.98em;
  margin: 0;
  padding-bottom: 1em;
}




.user-menu {
  background: rgba(0, 0, 0, 0.05);
  text-shadow: 0 0.1em 0.1em black;
  margin-bottom: 0.3em; }
  .user-menu li {
    position: relative;
    width: 20%;
    box-shadow: inset 0.1em 0 rgba(59, 64, 66, 0.3);
  }
    .user-menu li:hover {
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0.3em #1c84d4, inset 0.1em 0 rgba(255, 255, 255, 0.05), inset -0.1em 0 rgba(255, 255, 255, 0.05);
    }
      .user-menu li:hover.activity:after {
        box-shadow: inset 0 0.1em rgba(255, 255, 255, 0.2), 0 0 0 0.25em rgba(255, 255, 255, 0.2), 0 0 0 0.25em #1d2122; }
    .user-menu li:first-child {
      border-bottom-left-radius: 0.3rem; }
    .yellow .user-menu li:first-child {
      border-left: 1px solid  #f1c40f;
    }
    .red .user-menu li:first-child {
      border-left: 1px solid  #e74c3c;
    }
    .purple .user-menu li:first-child {
      border-left: 1px solid  #9b59b6;
    }
    .green .user-menu li:first-child {
      border-left: 1px solid  #1abc9c;
    }

    .user-menu li:last-child {
      border-bottom-right-radius: 0.3rem; }

    .yellow .user-menu li:last-child {
      border-right: 1px solid  #f1c40f;
      }
     .red .user-menu li:last-child {
      border-right: 1px solid  #e74c3c;
      }
       .green .user-menu li:last-child {
      border-right: 1px solid  #1abc9c;
      }
       .purple .user-menu li:last-child {
      border-right: 1px solid  #9b59b6;
      }
    .user-menu li.activity:after {
      content: "";
      display: block;
      width: 0.5em;
      height: 0.5em;
      background: #a1a5a8;
      border-radius: 100%;
      box-shadow: inset 0 0.1em rgba(255, 255, 255, 0.2), 0 0 0 0.25em #1d2122;
      position: absolute;
      top: 30%;
      right: 30%; }
  .user-menu a {
    color: #686868;
    display: block;
    padding: 1rem 0;
    font-size: 1.5em;
    text-align: center;
  }

  .user-menu a:hover {
      color: #1c84d4;
    }


.icon {
  position: absolute;
  top:33px;
  right: 33px;
  font-size: 1.4em;
  opacity: 0.5;

}

.red .icon {
  color: #66150d;
}

.yellow .icon {
  color: #5e4c05;
}

.icon-status {
  width: 40px;
  text-align: center;
  margin-left: 95px;
  padding-bottom: 10px;
}
.icon-status1 {
  width: 45px;
  text-align: center;
  margin-left: 95px;
  padding-bottom: 10px;
}


.table {
  display: table; }
  .table .row {
    display: table-row; }
  .table .cell {
    display: table-cell; }

.fullwidth {
  width: 100%; }

.middle {
  vertical-align: middle; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


a {
  cursor: pointer;
  color: #46494c; }
  a:hover {
    color: #1c84d4; }

a.link {
  color: #1c84d4;
}

.status .article {
  text-align: left;

}


#controls-container {
  color: white;
  position: fixed;
  top: 5px;
  left: 5px;
  font: 13px/1.1 "Helvetica Neue", Tahoma, Verdana;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
  z-index: 1000;
  opacity: 0.2; }
  #controls-container:hover {
    opacity: 1; }
  #controls-container input {
    display: block; }

.fr {
  float: right; }

.fl {
  float: left; }

.unstyled {
  margin: 0;
  padding: 0;
  list-style: none; }

ul.table > li {
  display: table-cell;
}


//
// .row{
//
//   margin-top: 20px;
//   margin-bottom: 30px;
// }

ul li .conference_li {
  margin-bottom: 30px;
}


/*.conference-delete        {  position: absolute; z-index: 9999; top: 10px; right: 10px; display: none; font-weight: normal; font-size: 14px;
    button        {  color: #C00000;  }
}
*/

.highlight {
  padding-right: 10px;
  border-left : 5px solid #16a085;
}

.glyphicon {

  padding-right: 1em;
}

.glyphicon-chevron-right {

  padding-right:0;
}



a { text-decoration: none; -webkit-transition: all .4s; }






.talk-head { overflow: auto; padding: 20px; background: #eaedf1; border-radius: 5px 5px 0 0; font-size: 1.2em; color: #b9becd; }
  .talk-head h1 { margin: 15px 0 5px; font-weight: 200; font-size: 1.3em; color: #5e6d81; }


.talk-foot { margin-bottom: 25px; border:0; color: #eee;
  .glyphicon-pencil, .glyphicon-eye-open {padding-left: 5 px; padding-right: 2px;}


}

.talk-foot  a {text-decoration: none; -webkit-transition: all .4s;  color: #eee }

[class^="footItem"] {display:inline-block; width: 32.1%; padding: 15px 0; margin: 0 0 10px; text-align: center; color: rgba(255,255,255,.8); font-size: 1.1em; border:0; }
[class^="footItem"] span.glyphicon {  padding: 0, 5px 0, 5px; font-size: 1em;  color: #fff; }
  .footItem1 { background: #9b59b6; border-radius: 0 0 0 5px; }
    .footItem1:hover { opacity: 0.7 }
  .footItem2 { background: #e74c3c; }
    .footItem2:hover { opacity: 0.9; }
  .footItem3 { background: #f1c40f; border-radius: 0 0 5px 0; }
    .footItem3:hover { opacity: 0.9 }

.talk-container {
width:30%;
margin-left: 1%;
}
