#footer       {
  background-color: #F5F5F5;

  p       {  margin: 20px 0; text-align: center;  }
}

#footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 60px;
      margin-top: 60px;
}
