#footer       {
  background-color: #2c3e50;
  // display: none;

  p       {  margin: 20px 0; text-align: center; color: #28d8b3; }
}

#footer {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 60px;
      margin-top: 60px;
}
