// #header {
//   .container {width: 940px;}
// }


#header {
z-index: 5300;
position: relative;
z-index: 0;
height: 500px;
background: #28d8b3;
width: 100%;
transition: height 1000ms, background 500ms;
}


#header > .row-main {
height: 100%;
}


.row-main {
margin: 0 auto;
padding: 0 10px;
max-width: 1152px;
}

#header.tiny {
  height:50px;
  background: #28d8b3;
}


.home-overlay {
width: 100%;
position: absolute;
top:0;
z-index: -2;
height: 500px;
opacity: 0.03;
background: url('/assets/icons3.jpg');
}

#header.tiny .home-overlay {
  display: none;
}

.logo {

  color: #ffffff;
  position: absolute;
  font-size:10em;
  font-weight: 100;
  top:30%;
  left: 20%;
  // -webkit-transform: translateY(-20px);
  // -moz-transform: translateY(-20px);
  // transform: translateY(-20px);
  // -webkit-animation: fadein .4s .1s 1 forwards ease-in-out;
  // -moz-animation: fadein .4s .1s 1 forwards ease-in-out;
  // animation: fadein .4s .1s 1 forwards ease-in-out;
  transition: 500ms;


}

#header.tiny .logo {

  font-size:1.8em;
  font-weight: 200;
  top:-8px;
  left: 5%;
}

.nav>li>a {
  color: #ffffff;
  font-weight: 600;
  text-decoration:none;
  transition: 500ms;
  padding-top: 17px;
}

.nav ul li a:hover {
color: #ffffff;
}
