#staricon {
  padding-top: 1em;
  font-size: 2.3em;
}

#shareicon {
margin-top: 1.5em;
font-size: 2em;

}

#slides {
height: 400px;
}




.favoritestalks {
margin-top: 50px;

}

// ul.talk-foot {
// padding: 0;
// margin:0;
// display:block;
// }
//
// ul.talk-foot li {
// margin:0;
// }








.talk-head { overflow: auto; padding: 20px; background: #eaedf1; border-radius: 5px 5px 0 0; font-size: 1.2em; color: #b9becd; }
  .talk-head h1 { margin: 15px 0 5px; font-weight: 200; font-size: 1.3em; color: #5e6d81; }


.talk-foot {margin-bottom: 25px;
  border:0;
  color: #eee;
  word-spacing: 0px;
}


.talk-foot  a {text-decoration: none; -webkit-transition: all .4s;  color: #eee }

.footItem {
  display:inline-block;
  width: 33.2%;
  padding: 15px 0;
  margin:0;
  text-align: center;
  color: rgba(255,255,255,.8);
  font-size: 1.1em;
  border:0;
  margin:0px;
  margin-right: -3px;
}

.footItem span.glyphicon {
  padding: 0, 5px 0, 5px;
  margin:0;
  font-size: 1em;  color: #fff;
}

.footItem1 { background: #9b59b6;
    border-radius: 0 0 0 5px;

  }

.footItem:hover { opacity: 0.8 }
.footItem2 { background: #e74c3c;  }

.footItem3 { background: #f1c40f; border-radius: 0 0 5px 0;  }


.talk-container {
width:100%;
margin-left: 1%;
}

.sinpadding {
padding-left:0;

}

.talk-bacground {
background: #34495e;
border-radius: 5px;
// border: 2px solid #2c3e50;
margin-bottom: 20px;

}

.info-bacground {

//background: #28d8b3;
border-radius: 6px 6px 0 0;
color: #28d8b3;
border-bottom: 2px solid #28d8b3;
}

#video-region {
padding-top: 30px;

}


.description-cont {

margin: 10px 0 0;
font-size: 1.2em;
color: #eaedf1;
padding: 20px;
background: #2c3e50;
border-radius: 0 0 5px 5px;
// border-bottom: 2px solid #28d8b3;
}

#show-talk-region {
  background: #33495f;
}

#talks-region h4 {
padding-top: 44px;
padding-bottom: 20px;
color: #28d8b3;
border-bottom: 2px solid #28d8b3;
}

#talks-region .talks li {
// border-bottom: 1px solid #2c3e50;
// border-left: 5px solid #2c3e50;
border-top: none;
position: relative;
padding-top: 0;
margin: 0;
padding: 0;
}

#talks-region #talks-menu.talks li h2 a {
color: #eaedf1;
}

#talks-region #talks-menu.talks li h2 a:hover{
background: #2c3e50;
}

.talksearch {
padding-top: 11px;
}




.social-toggle:hover {
  color:#333;
}

.no-js .social-toggle, .no-js .social-toggle:hover {
  cursor: default;
  border:none;
  background:transparent;
  color:rgb(200,200,200);
  pointer-events:none;
}

.share-button {
position: absolute;
top:0;
left:30px;
width:100px;
}

.social-networks {
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0) translateY(-190px);
  transform: scale(0) translateY(-190px);
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  margin-left: -85%;
  /* stops flickering */
  -webkit-backface-visibility: hidden;
}


.social-networks.open-menu, .no-js .social-networks {
  -webkit-transform: scale(1) translateY(-90px);
  transform: scale(1) translateY(-90px);
  opacity:1;
}


.social-networks ul {
  position:relative;
  top:0;
  left:0;
  width: 125px;
  height: 40px;
  color: #fff;
  // background: #3b5998;
  margin: auto;
  padding: 0;
  list-style: none;
  border: 2px solid #28d8b3;
  border-radius: 5px;
}

.social-networks ul:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.social-networks.open-menu ul:after, .no-js .social-networks ul:after {
  margin: 37px auto;
  border-top: 12px solid #28d8b3;
}

.social-networks li {
  font-size: 90%;
  width: 60px;
  margin: 0;
  text-align: center;
  float: left;
  display: block;
  height: 40px;
  line-height:40px;
  position: relative;
  z-index: 2;
  transition: all .3s ease;
}



.social-networks a {
  display:block;
  color:white;
}

.social-networks a:hover {
  color:#222;
}
