

<div id="meny" class="col-md-3"></div>
   <div id="page">
    <div id="wrap">
      <div id="header-region"></div>
      <div id="main-region"></div>
      <div class="row">
        <div id="title-region"></div>
        <div class="col-md-4 col-md-offset-1">
          <div id="form-region"></div>
        </div>
        <div class="col-md-5 ">
          <div id="talk-list-region"></div>
        </div>
      </div>
    </div>
    <div id="footer-region"></div>
  </div>




<%= javascript_tag do %>
var meny = Meny.create({
    // The element that will be animated in from off screen
    menuElement: document.getElementById( 'meny' ),

    // The contents that gets pushed aside while Meny is active
    contentsElement: document.getElementById( 'page' ),

    // The alignment of the menu (top/right/bottom/left)
    position: 'right',

    // The height of the menu (when using top/bottom position)
    height: 200,

    // The width of the menu (when using left/right position)
    width: 260,

    // The mouse distance from menu position which can trigger menu to open.
    threshold: 40,

    // Width(in px) of the thin line you see on screen when menu is in closed position.
    overlap: 0,

    // The total time taken by menu animation.
    transitionDuration: '0.5s',

    // Transition style for menu animations
    transitionEasing: 'ease',

    // Use mouse movement to automatically open/close
    mouse: false,

    // Use touch swipe events to open/close
    touch: true
});

<% end %>

<%= javascript_tag do %>
	$(function() {
		Demo.start({
			currentUser: gon
		});
	});
<% end %>
