<div id="wrap">
  <div id="header-region"></div>
  <div class="container">
      <div id="main-region"></div>
      <div id="talk-region"></div>
  </div>
  <div id="push"></div>
</div>
<div id="footer-region"></div>

<%= javascript_tag do %>
  $(function(){
     Demo.start();
  });
<% end %>
